[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.6b4" # higher versions fail during installation
pytest= "*"
pytest-datafiles= "==2.0"
sphinx = "==2.2.2"
sphinx-click = "==2.3.1"
sphinx-markdown-builder = "==0.5.3"
isort = "==4.3.21"
pdbpp = "*"
twine = "*"
pylint = "*"
wily = "*"
radon = "*"
coverage = "*"
wheel = "*"
flynt = "*"
mypy = "*"
types-requests = "*"
types-setuptools = "*"
types-pyyaml = "*"
types-click = "*"
pytype = "*"
ipython = "*"
pytest-mock = "*"
behave = "==1.2.6"

[packages]
loguru = "==0.5.3"
requests = "==2.31.0"
packaging = "==21.3"
plumbum = "==1.7.1"
cachier = "==1.5.4"
python-rex = "==0.4"
pymongo = "==3.12.2" # to avoid warnings from cachier not needed really
click = "==7.1"
PyYAML = "==5.4.1"

[requires]
python_version = "3.8"
