[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.6b4"
ipdb = "==0.11"
pytest= "==4.0.2"

[packages]
loguru = "==0.2.5"
behave = "==1.2.6"
requests = "==2.20.0"
packaging= "==18.0"
plumbum= "==1.6.7"
cachier= "==1.2.4"
python-rex= "==0.4"
pymongo= "==3.7.2" # to avoid warnings from cachier althouh not needed really

[requires]
python_version = "3.7"
